.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.introDiv {
  height: 64px;
  background-color: var(--primary-color);
}

.inbetween {
  min-height: 600px;
  background-position: center 4em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 94%;
}

.bg-one {
  background-image: url("../images/bgImages/DnD.jpg");
}

.bg-two {
  background-image: url("../images/bgImages/Innistrad_Midnight_Hunt.jpg");
}

.bg-three {
  background-image: url("../images/bgImages/warhammer.jpg");
}

.bg-four {
  background-image: url("../images/bgImages/catan.jpg");
}

.bg-five {
  background-image: url("../images/bgImages/event.jpg");
}

a {
  text-decoration: none;
}

.move-in {
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  animation: upIn 1s ease-out forwards;
}

.font-style {
  font-size: xx-large;
  text-align: center;
  font-family: "Fondamento";
  color: rgb(255, 245, 230);
}

.line-break {
  border-width: 0;
  background-color: rgb(8, 8, 8);
  max-width: 25%;
  height: 3px;
  color: grey;
  margin-bottom: 2em;
}

footer {
  background-color: var(--secondary-color);
  height: 200px;
}

@media screen and (max-width: 1500px) {
  body {
    background-size: auto;
  }
  .inbetween {
    background-size: auto;
  }
}

@media screen and (max-width: 746px) {
  .inbetween {
    max-width: 746px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  .font-style {
    font-size: large;
  }
  li a {
    font-size: medium;
  }
  .feature-card {
    max-height: 300px;
    min-height: 300px;
  }
  .rpg-info {
    min-height: 300px;
  }
  .card-info {
    min-height: 300px;
  }
  .board-info {
    min-height: 300px;
  }
  .event-info {
    min-height: 300px;
  }
  .table-info {
    min-height: 300px;
  }
  .inbetween {
    min-height: 300px;
    max-height: 300px;
  }
  #about {
    min-height: 325px;
  }
  .about-info {
    min-height: 325px;
  }
}

@media screen and (max-width: 602px) {
  .inbetween {
    max-width: 602px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  #logo {
    width: 440px;
  }
  .intro {
    max-height: 440px;
  }
}

@media screen and (max-width: 440px) {
  .inbetween {
    max-width: 440px;
    background-position: center 4em;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 94%;
  }
  .intro-phone {
    font-size: 2em;
  }
  #logo {
    width: 300px;
  }
  .intro {
    max-height: 300px;
  }
  .font-style {
    font-size: smaller;
  }
  li a {
    font-size: x-small;
  }
  .feature-card {
    max-height: 250px;
    min-height: 250px;
  }
  .rpg-info {
    min-height: 250px;
  }
  .card-info {
    min-height: 250px;
  }
  .board-info {
    min-height: 250px;
  }
  .event-info {
    min-height: 250px;
  }
  .table-info {
    min-height: 250px;
  }
  .inbetween {
    min-height: 250px;
    max-height: 250px;
  }
  #about {
    min-height: 275px;
  }
  .about-info {
    min-height: 275px;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-7680px, 0, 0);
  }
}
@keyframes bgScroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes upIn {
  from {
    top: 400px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
